.title {
  margin: 0 0 0 1rem;
  padding: 0.3rem 0 0 0;
}

.title-container {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
}

.current-category-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.category {
  font-weight: bold;
  color: #005cbb;
}

.category:hover {
  cursor: pointer;
  text-decoration: underline;
}
