.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(176px, 1fr));
  gap: 10px;
  padding: 10px;
}

mat-card-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  overflow: hidden;
}

mat-card {
  box-shadow: none;
  transition: all 0.05s ease;
}

mat-card:hover {
  //background: #e1e1e2;
  background: rgba(0, 92, 187, 0.8);
  color: white;
  cursor: pointer;
  transform: translateY(-6px);
}
