<div class="responsive-grid">
  <mat-card>
    <div class="thumbnail-img-container">
      <img class="thumbnail-img" src="/assets/cover/co904o.webp" alt="img" />
    </div>
    <mat-card-title>Monster Hunter: Wilds</mat-card-title>
  </mat-card>
  <mat-card>
    <div class="thumbnail-img-container">
      <img class="thumbnail-img" src="/assets/cover/co904o.webp" alt="img" />
    </div>
    <mat-card-title>Monster Hunter: Wilds</mat-card-title>
  </mat-card>
  <mat-card>
    <div class="thumbnail-img-container">
      <img class="thumbnail-img" src="/assets/cover/co904o.webp" alt="img" />
    </div>
    <mat-card-title>Monster Hunter: Wilds</mat-card-title>
  </mat-card>  <mat-card>
  <div class="thumbnail-img-container">
    <img class="thumbnail-img" src="/assets/cover/co904o.webp" alt="img" />
  </div>
  <mat-card-title>Monster Hunter: Wilds</mat-card-title>
</mat-card>  <mat-card>
  <div class="thumbnail-img-container">
    <img class="thumbnail-img" src="/assets/cover/co904o.webp" alt="img" />
  </div>
  <mat-card-title>Monster Hunter: Wilds</mat-card-title>
</mat-card>  <mat-card>
  <div class="thumbnail-img-container">
    <img class="thumbnail-img" src="/assets/cover/co904o.webp" alt="img" />
  </div>
  <mat-card-title>Monster Hunter: Wilds</mat-card-title>
</mat-card>



</div>

