<div class="sidenav-header">
  <img src="/default-profile-picture.png" alt="default-profile-picture"
       [width]="profilePicSize()" [height]="profilePicSize()"
       class="profile-pic"
       />
  <div class="header-text" [class.header-text]="sidenavState.getState()">
    <h2> Username </h2>
  </div>
</div>
<mat-nav-list class="sidenav-list">
  @for (item of menuItems(); track item.label) {
    <a mat-list-item class="sidenav-links"
       [routerLink]="item.route"
       routerLinkActive="selected-menu-item"
       #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact: true}"
       [activated]="rla.isActive"
       >
      <mat-icon matListItemIcon class="sidenav-icon">{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  }
</mat-nav-list>
