<div class="sidenav-header">
  <img src="/assets/default-profile-picture.png" alt="default-profile-picture"
       [width]="profilePicSize()" [height]="profilePicSize()"
       class="profile-pic"
       />
  <div class="header-text" [class.hide-header-text]="getSidenavState.getState()">
    <h2> {{ currentUser() | titlecase }} </h2>
  </div>
</div>
<br />
<mat-divider></mat-divider>
<mat-nav-list class="sidenav-list">
  @for (item of menuItems(); track item.label) {
    <a mat-list-item class="sidenav-links"
       [routerLink]="item.route"
       routerLinkActive="selected-sidenav-link"
       #rla="routerLinkActive"
       [routerLinkActiveOptions]="{exact: true}"
       [activated]="rla.isActive"
       >
      <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
                matListItemIcon class="sidenav-icon">{{ item.icon }}</mat-icon>
      <span matListItemTitle [class.hide-link-text]="getSidenavState.getState()">{{ item.label }}</span>
    </a>
  }
</mat-nav-list>
