@use '@angular/material' as mat;

.sidenav-header {
  padding-top: 24px;
  text-align: center;

  > img {
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 10px;
  }

  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.hide-header-text {
  opacity: 0;
  height: 0;
}

.hide-link-text {
  display: none;
}

.sidenav-icon {
  margin-right: 14px !important;
  margin-left: 14px !important;
}

.sidenav-links {
  border-left: 4px solid;
  border-left-color: white;

  @include mat.list-overrides((
    active-indicator-shape: 0px,
    active-indicator-color: rgba(211, 211, 211, 0.58),
    list-item-leading-icon-color: #858585,
  ))
}

.selected-sidenav-link {
  border-left: 4px solid;
  border-left-color: var(--mat-sys-primary);

  @include mat.list-overrides((
    list-item-leading-icon-color: var(--mat-sys-primary),
    list-item-hover-leading-icon-color: var(--mat-sys-primary),
    list-item-label-text-color: var(--mat-sys-primary),
    list-item-focus-label-text-color: var(--mat-sys-primary),
    list-item-hover-label-text-color: var(--mat-sys-primary),
    list-item-hover-state-layer-opacity: 5%,
    list-item-focus-state-layer-color: transparent,
  ))
}
