<mat-toolbar>
  <div class="menu-sidenav-container">
    <button mat-mini-fab type="button" class="menu-button" (click)="this.toggleCollapse()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="header-container" href="/" [routerLink]="'/'">
      <img src="/assets/icons/favicon.svg" />
      <h1 class="header">Boltie</h1>
    </a>

  </div>
  @if (!loginState()) {
    <div>
      <button mat-flat-button
              class="login-button"
              (click)="openLoginModal()">Login</button>
      <button mat-flat-button
              class="register-button"
              (click)="openRegisterModal()">Register</button>
    </div>
  } @else {
    <div class="profile-container">
      <button class="profile-button"
              [matMenuTriggerFor]="menu">
        <img src="/assets/default-profile-picture.png"/>
        <mat-menu #menu="matMenu" class="profile-menu">
          <button mat-menu-item [routerLink]="getAuthService.currentUserSignal()">My Channel</button>
          <button mat-menu-item [routerLink]="getAuthService.currentUserSignal() + '/recordings'">My Recordings</button>
          <button mat-menu-item [routerLink]="'settings'">Settings</button>
          <button mat-menu-item (click)="getAuthService.logout()">Logout</button>
        </mat-menu>
      </button>
    </div>
  }

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="sidenav" [style.width]="sidenavWidth()">
    <app-custom-sidenav></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
