@use '@angular/material' as mat;

.sidenav-container {
  height: 100%;
}

.sidenav {
  background-color: rgba(0, 0, 0, 0.01);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  background-color: white;
  position: relative;
  z-index: 5;
  height: 56px;
  box-shadow: 1px 1px 3px #dadada;
  justify-content: space-between;
}

.mat-sidenav-container {
  height: calc(100vh - 56px); //todo: change the container height
}

.mat-drawer {
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.11);
}

.mat-drawer-side {
  border: none;
}

.mat-sidenav, .mat-sidenav-content {
  transition: all 250ms ease-in-out;
}

.mat-toolbar-single-row {
  padding-left: 10px;
  padding-right: 10px;
}

.login-button, .register-button {
  margin-left: 8px;
  padding: 4px 12px;
  height: 30px;
  border-radius: 6px;
}

.login-button {
  @include mat.button-overrides((
    filled-label-text-color: var(--mat-sys-on-surface),
    filled-container-color: rgba(211, 211, 211, 0.6),
  ))
}

.login-button:hover {
  @include mat.button-overrides((
    filled-container-color: rgb(198, 198, 198),
  ))
}

.register-button {
  @include mat.button-overrides((
    filled-label-text-color: #ffffff,
    filled-container-color: var(--mat-sys-primary),
  ))
}

.register-button:hover {
  @include mat.button-overrides((
    filled-hover-state-layer-opacity: 0.15,
  ))
}

.profile-container {
  margin-right: 8px;
}

.profile-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
}

.profile-button img {
  object-fit: cover;
  height: 36px;
  width: 36px;
}
