<mat-toolbar>
  <div>
    <button mat-icon-button (click)="this.toggleCollapse()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="/favicon.ico"/>
  </div>
  @if (!loginState()) {
    <div>
      <button mat-flat-button
              class="login-button"
              (click)="openLoginModal()">Login</button>
      <button mat-flat-button
              class="register-button"
              (click)="openRegisterModal()">Register</button>
    </div>
  } @else {
    <div class="profile-container">
      <button class="profile-button"
              [matMenuTriggerFor]="menu">
        <img src="/default-profile-picture.png"/>
        <mat-menu #menu="matMenu" class="profile-menu">
          <button mat-menu-item [routerLink]="authService.currentUserSignal()">My Channel</button>
          <button mat-menu-item [routerLink]="authService.currentUserSignal() + '/recordings'">My Recordings</button>
          <button mat-menu-item [routerLink]="'settings'">Settings</button>
          <button mat-menu-item (click)="authService.logout()">Logout</button>
        </mat-menu>
      </button>
    </div>
  }

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="sidenav" [style.width]="sidenavWidth()">
    <app-custom-sidenav></app-custom-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
