<div class="button-toggle">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Live">
      <div class="responsive-grid">
        @for (stream of streams; track stream.username) {
          <mat-card (click)="navigateToStream(stream.username)">
            <div class="thumbnail-img-container">
              <img class="thumbnail-img" [src]="generateThumbnail(stream.username)"  alt="stream-img"/>
            </div>
            <mat-card-title-group class="card-content-container">
              <img class="profile-img" mat-card-md-image src="/assets/default-profile-picture.png" alt="profile-img"/>
              <div class="stream-details">
                <mat-card-title>{{stream.title}}</mat-card-title>
                <mat-card-subtitle>{{stream.username}}</mat-card-subtitle>
              </div>
            </mat-card-title-group>
          </mat-card>
      }
      </div>
    </mat-tab>
    <mat-tab label="Recordings">
      <div class="responsive-grid">
        @for (recording of recordings; track $index) {
          <mat-card (click)="navigateToRecording(recording.owner, recording.userRecordingTrackingId)">
            <div class="thumbnail-img-container">
              <img class="thumbnail-img" src="{{window.__env.cdnUrl}}/{{recording.owner}}/{{recording.folderName}}/thumb.jpg" alt="img" />
            </div>
            <mat-card-title-group class="card-content-container">
              <img class="profile-img" mat-card-md-image src="/assets/default-profile-picture.png" alt="profile-img"/>
              <div class="stream-details">
                <mat-card-title>{{recording.title}}</mat-card-title>
                <mat-card-subtitle>{{recording.owner}}</mat-card-subtitle>
              </div>
            </mat-card-title-group>
          </mat-card>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
