<div class="nav-container">
  <mat-toolbar class="nav-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="title">Boltie</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav>
      <mat-nav-list>
        <mat-list-item><a>Link 1</a></mat-list-item>
        <mat-list-item><a>Link 1</a></mat-list-item>
        <mat-list-item><a>Link 1</a></mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <p>sample videos</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
