<div class="responsive-grid">
  @for (stream of streams; track stream.username) {
    <mat-card (click)="navigateToStream(stream.username)">
      <div class="thumbnail-img-container">
        <img class="thumbnail-img" [src]="generateThumbnail(stream.username)"  alt="stream-img"/>
      </div>
      <mat-card-title-group class="card-content-container">
        <img class="profile-img" mat-card-md-image src="/default-profile-picture.png" alt="profile-img"/>
        <div class="stream-details">
          <mat-card-title>{{stream.title}}</mat-card-title>
          <mat-card-subtitle>{{stream.username}}</mat-card-subtitle>
        </div>
      </mat-card-title-group>
    </mat-card>
  }
</div>
