
.card-content-container {
  padding: 4px;
  align-items: center;
  justify-content: start;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1rem;
}

mat-card-title-group {
  margin-top: 4px;
}

mat-card-subtitle {
  font-size: 0.9rem;
  color: #606060;
  line-height: 0.5rem;
}

mat-card {
  box-shadow: none;
}

mat-card:hover {
  background: #e1e1e2;
  cursor: pointer;
}

.stream-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


