<div class="settings-container">
  <div class="profile-container">
    <h2>Profile edit</h2>
    <div class="profile-edit">
      <h4>Username: {{getAuthService.currentUserSignal()}}</h4>
      <button mat-flat-button type="button" (click)="openNameChangeModal()">Change username</button>
    </div>
  </div>
  <br>
  <div class="stream-key-container">
    <h2>Stream key</h2>
    <div class="stream-key-field">
      <p>{{ streamKeyInfo }}</p>
    </div>
    <div>
      <button mat-flat-button type="button" (click)="openWarningModal()">Show Key</button>
    </div>
  </div>
</div>
