<div class="layout-container">
  <div class="player-container">
    <div id='player_id'></div>
    <div class="title-container">
    @if (userIsStreamOwnerSignal()) {
        @if (!isEditMode) {
          <h2 class="title"> {{ streamTitle }}</h2>
          <button
            type="button"
            aria-label="Edit"
            mat-flat-button
            (click)="editTitle()"
            class="edit-btn">Edit</button>
        } @else {
          <mat-form-field [subscriptSizing]="'dynamic'" appearance="outline">
            <input matInput [(ngModel)]="streamTitle" type="text" class="edit-title" />
          </mat-form-field>
          <div>
            <button type="submit" mat-flat-button class="save-btn" (click)="saveTitle()">Save</button>
            <button type="button" mat-flat-button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
          </div>
        }
    } @else {
      <h2 class="title"> {{ streamTitle }}</h2>
    }
    </div>
  </div>

  <div class="chat-panel">
    <div class="chat-title">
      <span>Chat</span>
    </div>
    <div class="chat-overflow-container" id="chatContainer">
      <ul class="message-container">
        @for (message of messages; track $index) {
          <li class="message-row">
            <span class="message-timestamp">{{ message.sentAt }}</span>
            <div>
              <span class="message-sender">{{ message.senderName }}</span>
              <span>: </span>
              <span class="message-content">{{ message.content }}</span>
            </div>
          </li>
        }
      </ul>
    </div>
    <div class="chat-input-container">
      <mat-form-field appearance="outline" class="chat-form" [subscriptSizing]="'dynamic'">
        <input matNativeControl class="chat-input" [(ngModel)]="testMessage.content"
               (keydown.enter)="this.sendMessage()">
      </mat-form-field>
      <button mat-mini-fab type="button" class="send-button" (click)="this.sendMessage()">
        <mat-icon >{{sendIcon.icon}}</mat-icon>
      </button>
    </div>
  </div>

</div>
