@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container {
  overflow: hidden !important;
}

:root {
  @include mat.dialog-overrides((
    container-shape: 6px,
  ));

  @include mat.menu-overrides((
    container-shape: 4px,
    container-color: var(--mat-sys-surface),
  ));

  @include mat.card-overrides((
    elevated-container-color: transparent,
  ));

}

.mat-mdc-menu-panel {
  padding: 0;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

.profile-menu button {
  text-align: center;
}

.mat-mdc-menu-panel {
  margin-top: 12px;
}

//.mdc-text-field--outlined {
//  padding: 0 12px !important;
//}

