<div class="responsive-grid">
  @for (recording of recordings; track recording.folderName) {
    <mat-card (click)="navigateToVideo(username, $index + 1)">
      <div class="thumbnail-img-container">
        <img class="thumbnail-img" src="{{window.__env.cdnUrl}}/{{username}}/{{recording.folderName}}/thumb.jpg" alt="img" />
      </div>
      <mat-card-title-group class="card-content-container">
        <img class="profile-img" mat-card-md-image src="/assets/default-profile-picture.png" alt="profile-img"/>
        <div class="stream-details">
          <mat-card-title>{{recording.title}}</mat-card-title>
          <mat-card-subtitle>{{this.username}}</mat-card-subtitle>
        </div>
        <button mat-icon-button aria-label="More Options" type="button" class="options-button"
                [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="addToWatchLater(username, $index + 1)">
            <mat-icon>schedule</mat-icon>
            <span>Watch Later</span>
          </button>
        </mat-menu>
      </mat-card-title-group>
    </mat-card>
  }
</div>
